# === BACKEND (Spring Boot / Gradle / Kotlin) ===
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Kotlin ###
.kotlin

# H2 database
/data

# Outros arquivos
*.csv
*.bkp


# === FRONTEND (React) ===
# Node modules
react-frontend/node_modules/
react-frontend/.npm/
react-frontend/.yarn/

# Build output
react-frontend/build/

# Logs
react-frontend/npm-debug.log*
react-frontend/yarn-debug.log*
react-frontend/yarn-error.log*

# Editor configs
react-frontend/.idea/
react-frontend/.vscode/
react-frontend/.DS_Store

# Coverage reports
react-frontend/coverage/

# Misc
react-frontend/.env.local
react-frontend/.env.development.local
react-frontend/.env.test.local
react-frontend/.env.production.local